.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  width: 300px;
}
input{
    height: 20px;
    border-radius: 2px;
}

label {
  text-align: left;
  margin-right: 20px;
  flex-basis: 30%;
  font-weight: 300px;
}

input {
  flex: 1;
}
form .custom-btn{
width: 100%;
height: 50px;
background-color: #33a953;
color:white;
border: none;
font-size: 14px;
font-weight: 700;
margin-top: 10px;
}
form .custom-btn:hover {
  background-color: #2d903e; /* Darker green on hover */
}
@media (max-width: 600px) {
  label {
    flex-basis: unset; 
  }
}

