.share-code-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;;
}


.share-code-box{
    background-color:#c4cfd8 ;
    width: 900px; 
    height: 450px;
    padding: 15px;
    border-radius: 3px;
    color: black;
    font-size: 20px;
    border: none;
    overflow-y: auto; 
}


.star-rating {
margin-top: 20px;
}

.star-rating .fa-star {
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}

.star-rating .fa-star.active {
  color: gold; 
}

@media (max-width: 700px) {

  .star-rating .fa-star {
    font-size: 20px;
    margin-right: 3px; 
  }
}

@media (max-width: 900px) {
  .share-code-box {
    max-width: 90%;
    font-size: 14px;
    padding: 10px;
  }
}