.container{
    margin: auto;
}
.container h1{
    margin-top: -10px;
}

.logInImg{
    width: 50%;
    height: 70%;
}
span{
color: #33a953;
}
@media (max-width: 700px) {
  .logInImg {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px; 
  }
}
